.singlenote {
  margin: -24px;
  padding: 21px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.noteinput1 {
  height: 20px;
  font-size: 18px;
}

textarea {
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  overflow: hidden;
  max-height: 400px;
  overflow: hidden;
}


.colorpalette-card {
  width: 175px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

mat-chip {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 11px !important;
}
