.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
  color: white;
  border: solid 1px rgba(0, 0, 0, 0.04);
}

h1.example-app-name {
  margin-left: 10px;
}

img.example-app-icon {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.searchbar {
  display: flex;
  margin-left: 30px;
  border-radius: 8px;
  width: 100%;
  min-width: 24px;
  height: 20px;
  font-size: 16px;
  line-height: 34px;
  align-items: center;
}

.searchbarinput {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
  height: 20px;
  font-size: 16px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.extra {
  width: 100%;
  display: flex;
  min-width: 115px;
  justify-content: space-evenly;
}

.usericon {
  margin-left: auto;
}

.createnote {
  margin-top: 60px;
  width: 75%;
}

.contentsNotesgrid {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contentsNoteslist {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 57%;
}


.gridview {
  width: 78vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-column-break-inside: avoid;
}

.listview {
  width: 78vw;
  justify-content: space-around;
}
