<div class="example-container" [ngStyle]="{'position':mobileQuery.matches?'absolute':'fixed'}"
    [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar *ngIf="!mobilesearch" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img *ngIf="!mobileQuery.matches" class="example-app-icon" src="../../../assets/images/Google_Keep_icon2.svg">
        <h1 class="example-app-name">Fundoo</h1>

        <mat-card *ngIf="!mobileQuery.matches" class="searchbar">
            <mat-icon>search</mat-icon>
            <input class="searchbarinput" (click)="searchclicked()" [(ngModel)]="searched" (keyup)="searching(searched)"
                matInput placeholder="Search" autocomplete="off">
            <button mat-icon-button *ngIf="searched" (click)="searched='';searchclear()">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-card>
        <button mat-icon-button style="margin-left: 3vw;" *ngIf="mobileQuery.matches" (click)="mobilesearch=true">
            <mat-icon>search</mat-icon>
        </button>
        <div class="extra">
            <div style="width: 44vw;">
                <button mat-icon-button class="refresh">
                    <mat-icon>refresh</mat-icon>
                </button>

                <button mat-icon-button class="viewclass" (click)="view_mode()">
                    <img *ngIf="isgrid" style="width:20px;width:20px" src="../../../assets/images/list_view.png">
                    <img *ngIf="!isgrid" style="width:19px;width:19px" src="../../../assets/images/grid_view.png">
                </button>
            </div>
            <button mat-icon-button class="usericon" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="signOut()">
                    <mat-icon>mobile_screen_share</mat-icon>
                    <span>Sign out</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable Notification</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-toolbar *ngIf="mobilesearch" class="example-toolbar">
        <mat-card class="searchbar">
            <button mat-icon-button (click)="mobilesearch=!mobilesearch">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <input class="searchbarinput" (click)="searchclicked()" [(ngModel)]="searched" (keyup)="searching(searched)"
                matInput placeholder="Search" autocomplete="off">
            <button mat-icon-button *ngIf="searched" (click)="searched='';searchclear()">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-card>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list style=" overflow-x: hidden;" (click)="mobileQuery.matches?snav.close():''">
                <button mat-button class="sidenav-content" (click)="pointer='Note';noteclicked()"
                    [ngStyle]="{'background-color':pointer=='Note'?'#F3EFC3':''}">
                    <i class="material-icons-outlined"
                        style="margin-left:10px;margin-right:30px;">emoji_objects</i>Notes
                </button>
                <button mat-button class="sidenav-content" (click)="pointer='Reminder';reminderclicked()"
                    [ngStyle]="{'background-color':pointer=='Reminder'?'#F3EFC3':''}">
                    <i class="material-icons-outlined"
                        style="margin-left:10px;margin-right:30px;">notifications</i>Reminder
                </button>
                <hr />
                <div style=" margin-left: 22px;margin-bottom: 6px;"><span style="font-size: 13px;">LABELS</span></div>
                <div>
                    <button mat-button class="sidenav-content" *ngFor="let labele of labelsData; let labeleid = index"
                        (click)="pointer=labele.label;labelclicked(pointer)"
                        [ngStyle]="{'background-color':pointer==labele.label?'#F3EFC3':''}">
                        <i class="material-icons-outlined"
                            style="margin-left:10px;margin-right:30px;">label</i>{{labele.label}}
                    </button>
                </div>
                <button mat-button class="sidenav-content" (click)="pointer='Edit';editlabeldialogue()"
                    [ngStyle]="{'background-color':pointer=='Edit'?'#F3EFC3':''}">
                    <i class="material-icons-outlined" style="margin-left:10px;margin-right:30px;">edit</i>Edit
                    labels
                </button>
                <hr />
                <button mat-button class="sidenav-content" (click)="pointer='Archieve';archieveclicked()"
                    [ngStyle]="{'background-color':pointer=='Archieve'?'#F3EFC3':''}">
                    <i class="material-icons-outlined" style="margin-left:10px;margin-right:30px;">archive</i>Archive
                </button>
                <button mat-button class="sidenav-content" (click)="pointer='Bin';deleteclicked()"
                    [ngStyle]="{'background-color':pointer=='Bin'?'#F3EFC3':''}">
                    <i class="material-icons-outlined" style="margin-left:10px;margin-right:30px;">delete</i>Bin
                </button>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="container">
            <div *ngIf="pointer!='Bin' && pointer!='Archieve'" class="createnote">
                <app-note [notes]="items" [labelsData]="labelsData" [colorPalette]="colorPalette" [userData]="userData">
                </app-note>
            </div>
            <div style="margin-bottom:30px">
                <app-get-all-note [isgrid]="isgrid" [className]="isgrid?'contentsNotesgrid':'contentsNoteslist'"
                    [labelsData]="labelsData" [items]="items" [colorPalette]="colorPalette" [userData]="userData"
                    [pointer]="pointer">
                </app-get-all-note>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>