<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar *ngIf="!mobilesearch" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img *ngIf="!mobileQuery.matches" class="example-app-icon" src="../../../assets/images/Google_Keep_icon2.svg">
        <h1 class="example-app-name">Fundoo</h1>

        <mat-card *ngIf="!mobileQuery.matches" class="searchbar">
            <mat-icon>search</mat-icon>
            <input class="searchbarinput" [(ngModel)]="searched" matInput placeholder="Search" autocomplete="off">
            <button mat-icon-button *ngIf="searched" (click)="searched=''">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-card>
        <button mat-icon-button style="margin-left: 30px;" *ngIf="mobileQuery.matches" (click)="mobilesearch=true">
            <mat-icon>search</mat-icon>
        </button>
        <div class="extra">
            <div>
                <button mat-icon-button class="refresh">
                    <mat-icon>refresh</mat-icon>
                </button>

                <button mat-icon-button class="viewclass" (click)="view_mode()">
                    <mat-icon *ngIf="isgrid">view_module</mat-icon>
                    <mat-icon *ngIf="!isgrid">view_list</mat-icon>
                </button>
            </div>
            <button mat-icon-button class="usericon" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="signOut()">
                    <mat-icon>mobile_screen_share</mat-icon>
                    <span>Sign out</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable Notification</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-toolbar *ngIf="mobilesearch" class="example-toolbar">
        <mat-card class="searchbar">
            <button mat-icon-button (click)="mobilesearch=!mobilesearch">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <input class="searchbarinput" [(ngModel)]="searched" matInput placeholder="Search" autocomplete="off">
            <button mat-icon-button *ngIf="searched" (click)="searched=''">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-card>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item href="#">Link 1</a>
                <a mat-list-item href="#">Link 2</a>
                <a mat-list-item href="#">Link 3</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="container">
            <div class="createnote">
                <app-note></app-note>
            </div>
            <div>
                <app-get-all-note [isgrid]="isgrid" [className]="isgrid?'contentsNotesgrid':'contentsNoteslist'"
                    (noterefreshevt)="refresh($event)">
                </app-get-all-note>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>