/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';
@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.my-dialogue .mat-dialog-container {
  width: 70vw;
  max-width: 620px;
  border-radius: 10px;
}
