<mat-card class="createnote" #noteFog *ngIf="noteshow" (click)="openCreateNote()">
    <input type="search" class="noteinput1" tabIndex="1" matInput placeholder="Take a note" autocomplete="off">
    <button mat-icon-button matTooltip="add list">
        <i class="material-icons-outlined">check_box</i>
    </button>
    <button mat-icon-button matTooltip="draw">
        <i class="material-icons-outlined">brush</i>
    </button>
    <button mat-icon-button matTooltip="add image">
        <i class="material-icons-outlined" (click)="file.click()">insert_photo</i>
        <input style="display: none;" type="file" #file (change)="onSelectImage($event, '01')" />
    </button>
</mat-card>


<mat-card class="createnote" #noteGog *ngIf="!noteshow" style=" height: auto;  flex-direction: column;"
    [style.background-color]="colorPalette[colorid]['colorCode']" (clickOutside)="onClickedOutside($event)">
    <div style="display: flex;width: 97%">
        <textarea matInput matTextareaAutosize tabIndex="2" class="noteinput1" (keyup.enter)="medri()"
            [(ngModel)]="title" matInput placeholder="Title" autocomplete="off"></textarea>
        <button mat-icon-button matTooltip="pin" (click)="pinclicked()">
            <img *ngIf="!isPin" src="../../../assets/images/pin_outlined.svg">
            <img *ngIf="isPin" src="../../../assets/images/pin_filled.svg">
        </button>
    </div>
    <div style="display: flex;width: 97%;">
        <textarea matInput matTextareaAutosize tabIndex="3" [(ngModel)]="desc" placeholder="Take a note"
            autocomplete="off"></textarea>

    </div>
    <div style="margin-right: auto;" *ngIf="rem">
        <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
            <mat-chip>{{rem}}
                <mat-icon matChipRemove (click)="removereminder()">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div style="margin-right: auto;margin-top: 4px;">
        <mat-chip-list aria-orientation="vertical">
            <mat-chip style="margin-bottom: 0px;" *ngFor="let label_temp of notelabels; let templabelid = index">
                {{label_temp}}
                <mat-icon matChipRemove (click)="removelabel(templabelid)">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

    <div style="width: 100%;height: 30px;display: flex;">
        <button mat-icon-button style="margin-left: -13px;" matTooltip="reminder" [matMenuTriggerFor]="remine"
            aria-label="Toggle menu" (click)="menuclicked1()" (menuClosed)="menuClosed1()">
            <i class="material-icons-outlined">add_alert</i>
        </button>
        <mat-menu #remine="matMenu">
            <span style="margin-left:20px">Reminder</span>
            <span style="margin-left:100%"></span>
            <div mat-menu-item>
                <mat-icon>alarm_add</mat-icon>
                <mat-form-field class="demo-full-width">
                    <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="tx_date"
                        autocomplete="off" placeholder="Choose date and time">
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
            </div>
            <button style="margin-left:185px" mat-button (click)="savereminder(tx_date)">save</button>
        </mat-menu>
        <button mat-icon-button matTooltip="colloborate">
            <i class="material-icons-outlined">person_add</i>
        </button>

        <button mat-icon-button matTooltip="note color" [matMenuTriggerFor]="colorset" aria-label="Toggle menu"
            (click)="menuclicked()" (menuClosed)="menuClosed()">
            <i class="material-icons-outlined">color_lens</i>
        </button>
        <mat-menu #colorset="matMenu">
            <span style="margin-left:20px">Color</span>
            <div class="colorpalette-card">
                <div *ngFor="let colr of colorPalette; let in = index">
                    <button mat-icon-button matTooltip="{{colr.name}}" [style.background-color]="colr.colorCode"
                        (click)="setcolr(in)" (mouseenter)="colr.hover=true"
                        [ngClass]="(colr.hover||in==colorid)?'colorbold':''" (mouseleave)="colr.hover=false">
                        <mat-icon *ngIf="in==colorid">done</mat-icon>
                    </button>
                </div>
            </div>
        </mat-menu>
        <button mat-icon-button matTooltip="add photo">
            <i class="material-icons-outlined" (click)="file.click()">insert_photo</i>
            <input style="display: none;" type="file" #file (change)="onSelectImage($event, '01')" />
        </button>
        <button mat-icon-button matTooltip="archive" (click)="archieveNote()">
            <i class="material-icons-outlined">archive</i>
        </button>
        <button mat-icon-button matTooltip="Add label" [matMenuTriggerFor]="labels" aria-label="Toggle menu"
            (click)="menuclicked()" (menuClosed)="menuClosed()">
            <i class="material-icons-outlined">label</i>
        </button>
        <mat-menu #labels="matMenu">
            <div mat-menu-item (click)="stopPropagation($event)">
                <mat-form-field style="width:120px">
                    <input matInput [(ngModel)]="newlabel" autocomplete="off" placeholder="Choose label">
                </mat-form-field>
                <mat-icon style="margin-right:-8px" matTooltip="create label" (click)="addnewlabel(newlabel)">
                    done_outline</mat-icon>
            </div>
            <div *ngFor="let labele of labelsData; let labeleid = index">
                <div mat-menu-item (click)="stopPropagation($event)">
                    <mat-checkbox color="primary" #checkbox [ngModel]="notelabels.includes(labele.label)"
                        (change)='addlabel(labele,checkbox.checked)'>{{labele.label}}
                    </mat-checkbox>
                </div>
            </div>
        </mat-menu>

        <button mat-button style="margin-left: auto;" (click)="closetime()">close</button>
    </div>
</mat-card>